body > header{
  @include flexbox;
  @include flex-direction( row );
  @include justify-content( center );

  h1:first-child{
    padding-right: 25px;

    text-align: right;
  }

  h1:last-child{
    padding-left: 25px;

    text-align: left;

    p{
      padding-top: 25px;

      text-indent: 5px;
    }
  }
}
